/* Сб* { margin: 0; box-sizing: border-box; }

.container {
    max-width: 1200px;
    margin: 30px auto;
    text-align: center;
    padding: 30px;
}

.slider {
    width: 256px;
    height: 256px;
    margin: 20px auto;
    overflow: hidden;
    border: 2px solid black;
}

.slider-line {
    width: 1024px;
    height: 256px;
    display: flex;
    position: relative;
    transition: left 1s;
}

.slider-line img {
    width: 256px;
    height: 256px;
    object-fit: cover;
    flex-shrink: 0;
}

button {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
}
